* {
    box-sizing: border-box;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: white;
    margin: 0;
    padding: 0;
}

body{
    background-color: #080808;
}

html{
    scroll-behavior: smooth;
}

/* Header */

#header{
    color: white;
    width: 100%;
    height: 100vh;

    background-image: url(images/HeaderBackground.jpg); /* add a good background image later */
    background-position: center;
    background-size: cover;
}

.container{
    padding: 20px 10%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .fa-solid{
    font-size: 30px;
    margin: 20px 20px;

    display: none;
}

#title{
    font-size: 35px;
}

#title a{
    text-decoration: none;
}

nav ul{
    list-style: none;
}

nav li{
    display: inline-block;
    position: relative;

    margin-left: 30px;

    font-weight: 400;
    font-size: 20px;
}

nav li::after{
    content: "";
    background-color: #00ced1;

    position: absolute;
    width: 0;
    height: 2px;

    bottom: -4px;
    left: 0;

    z-index: 1;

    transition: .2s;
}

nav li:hover:after{
    width: 100%;
}

nav li a{
    text-decoration: none;
}

.eyecatcher{
    display: inline-block;

    margin-top: 25%;
}

.skill-preview{
    font-size: 40px;
    font-weight: 370;
    margin: 0;
}

.introduction{
    margin: 0;
    font-size: 55px;
}

.introduction span#aka{
    font-size: 10px;
    font-weight: 200;

    position: relative;
    left: -10px;
    color: white;

    transition: .2s;
}

.introduction:hover span#aka{
    font-size: 20px;
}

.introduction span#name{
    color: #00ced1;

    transform: .5s;
}

/* About */

#about{
    margin-top: 70px;
}

#about .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#about .pfp{
    border-radius: 10px;
    background-color: rgb(20, 20, 20);

    width: 440px;
    height: 550px;

    background-image: url(images/ProfilePicture.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

#info{
    flex-basis: 66%;
}

#info h1{
    font-size: 60px;
    font-weight: 600;
    color: rgb(199, 199, 199);
}

#info p{
    font-size: 17px;
    color: rgb(199, 199, 199);
}

#info ul{
    list-style-type: none;

    margin-top: 40px;
}

#info li{
    font-size: 18px;
    font-weight: 500;
    
    color: rgb(199, 199, 199);
    
    display: inline-block;
    margin-right: 50px;

    position: relative;
}

#info li:hover{
    cursor: pointer;
}

#info li::after{
    content: "";
    
    background-color: #00ced1;
    width: 0%;
    height: 2px;

    position: absolute;
    bottom: -4px;
    left: 0;

    transition: .2s;
}

#info li.selected-section-choise::after{
    width: 100%;
}

#info div{
    margin-top: 25px;
}

#info div .mini-title{
    margin-bottom: 8px;
    color: #00ced1;
    font-weight: 500;

    text-transform: capitalize;
}

#info div .info{
    font-size: 18px;
}

#info section{
    display: none;
}

#info section.selected-section{
    display: initial;
}

/* Services */

#services{
    margin-top: 70px;
}

#services .title{
    font-size: 55px;
    font-weight: 650;
}

.services-list{
    display: flex;
    justify-content: space-between;

    list-style: none;

    margin-top: 30px;
}

.services-list li{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 370px;

    margin-left: 30px;

    background-color: #292929;
    border-radius: 15px;

    padding: 10px 3%;

    transition: .3s;
}

.services-list li:first-child{
    margin-left: 0;
}

.services-list li:hover{
    background-color: #363636;
    transform: translateY(-7px);
}

.services-list li h1{
    font-size: 40px;
    font-weight: 600;
}

.services-list li p{
    margin-top: 25px;
    font-size: 18px;
    font-weight: 450;

    margin-bottom: 20px;
}

.services-list li a{
    font-weight: 300;
}

.services-list i{
    font-size: 60px;
}

/* Portfolio */

#portfolio{
    margin-top: 100px;
}

#portfolio h1{
    font-size: 55px;
    font-weight: 650;
}

#portfolio ul{
    display: flex;
    justify-content: space-between;

    list-style: none;

    margin-top: 30px;
}

#portfolio li{
    display: flex;
    flex-direction: column;
    justify-content: start;

    width: 100%;
    height: 600px;

    margin-left: 30px;
    padding: 10px 3%;
    border-radius: 15px;

    background-image: url(images/ProfilePicture.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-color: #292929;
    opacity: .8;

    transition: .3s;
}

#portfolio .first-portfolio{
    background-image: url(images/French\ Rivera.jpg);
}

#portfolio .second-portfolio{
    background-image: url(images/Restaurant\ Business\ Game\ Pic.jpg);
}

#portfolio .third-portfolio{
    background-image: url(images/Untitled\ hockey\ game.jpg);
}

#portfolio li div{
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 20px;
    border-radius: 10px;

    background-color: #000000;
    opacity: 0;

    transition: .3s;
}

#portfolio li:hover{
    transform: scale(1.1);

    opacity: 1;
}

#portfolio li:hover div{
    opacity: 1;
}

#portfolio li:first-child{
    margin-left: 0;
}

.btn{
    display: block;
    margin: 45px auto;

    width: fit-content;
 
    text-decoration: none;
    padding: 15px 50px;
    border-radius: 5px;
    border: 2px solid #00ced1;

    transition: .15s;
}

.btn:hover{
    background: #00ced1;
    color: black;

    cursor: pointer;
}

/* Contact Me */

#contact-me .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-left{
    flex-basis: 35%;
}

.contact-left h1{
    margin-top: 80px;

    vertical-align: top;
    font-size: 60px;
}

.contact-left p{
    font-size: 16px;

    margin-top: 25px;
}

.contact-left p i{
    font-size: 25px;
    color: #00ced1;
 
    margin-right: 10px;
}

.contact-left a{
    text-decoration: none;
}
.contact-left ul{
    display: flex;
    list-style: none;

    margin-top: 30px;
}

.contact-left li{
    font-size: 30px;

    margin-right: 20px;
}

.contact-left i{
    color: rgb(199, 199, 199);
}

.contact-right{
    flex-basis: 60%;
}

.contact-right form{
    display: flex;

    flex-direction: column;
}

form input, form textarea{
    width: 100%;
    height: 55px;

    border-radius: 10px;
    border: none;

    font-size: 17px;
    background-color: #292929;

    padding: 10px 10px;

    margin-top: 15px;
}

form textarea{
    height: 200px;
}

.btn.btn2{
    margin: 0;
    margin-top: 25px;

    background-color: #252525;

    color: white;
    font-size: 18px;
    font-weight: 600;
}

#msg{
    margin-top: 15px;
    color: green;
}

/* Footer */

footer{
    text-align: center;
    background-color: #252525;

    width: 100%;
    height: 60px;

    padding: 19px 0;
    font-size: 18px;
}

/* Other */

#easter-egg-text{
    display: inline;
    position: relative;
    opacity: 0;

    bottom: -120px;
    left: -30%; 
}

#easter-egg-text:hover{
    cursor: pointer;
}

/* Media Queries */

@media only screen and (max-width: 1640px) {
    #info{
        flex-basis: 55%;
    }

    #about .pfp{
        width: 450px;
        height: 550px;

        margin-top: 6%;
    }

    #portfolio li{
        height: 400px;  
    }

    #portfolio li p{
        font-size: 15px;
    }
}

@media only screen and (max-width: 1300px) {
    #header{
        background-image: url(images/MidMobileBackground.jpg);
    }

    #info{
        flex-basis: 100%;
    }

    #about .pfp{
        display: none;
    }
}

@media only screen and (max-width: 1075px) {
    #title a{
        font-size: 65px;
    }

    #header{
        background-image: url(images/MobileBackground.jpg);
    }

    #info h1{
        font-size: 100px;
        margin-bottom: 20px;
    }

    .eyecatcher{
        margin-top: 90%;
    }

    nav .fa-solid{
        font-size: 60px;

        position: relative;
        right: -75px;
    
        display: initial;
    }

    .navigation-ul i{
        position: initial;
        font-size: 50px;

        display: inline-block;
    }
    
    .navigation-ul{
        z-index: 100;
        top: 0;
        right: -400px;
        position: fixed;
        background-color: #363636;
    
        width: 400px;
        height: 100vh;
    
        transition: right .3s;
        display: initial;
    }

    .navigation-ul li{
        font-size: 40px;
        background-color: #252525;
        padding: 40px;

        margin: 0;
        width: 100%;
    }

    .eyecatcher .skill-preview{
        font-size: 70px;
    }

    .eyecatcher .introduction{
        font-size: 100px;
    }

    #aka{
        display: none;
    }

    #info .selection-choise{
        margin-top: 50px;
        margin-bottom: 10px;
        margin-right: 50px;
        font-size: 50px;
    }

    #services .title{
        font-size: 100px;
    }

    .services-list{
        flex-direction: column;
        font-size: 22px;
    }
    
    .services-list li{
        margin: 0;
        margin-top: 15px;
        background-position: top;
    }

    .services-list li h1{
        font-size: 60px;
    }

    .services-list li p{
        margin-top: 10px;
        font-size: 32px;
    }

    .services-list li a{
        margin-top: 5px;
        font-size: 25px;
    }

    #portfolio .title{
        font-size: 100px;
    }

    #portfolio ul{
        flex-direction: column;

        align-items: center;
    }

    #portfolio li{
        background-position: center;

        width: 95%;
        height: 500px;

        margin: 0;
        margin-top: 30px;
    }

    #portfolio li{
        background-position: center;

        width: 95%;
        height: 500px;

        margin: 0;
        margin-top: 30px;
    }

    #portfolio li h2{
        font-size: 40px;

        margin-top: 0;
        text-align: center;
    }

    #portfolio li p{
        font-size: 30px;
    }

    .btn{
        font-size: 40px;
    }

    .btn.btn2{
        font-size: 40px;
        
        padding: 15px 60px;
    }

    .row{
        flex-direction: column;
    }

    .contact-left h1{
        font-size: 100px;
    }

    .contact-left li i{
        margin: 50px 0px;
        font-size: 55px;
    }

    .contact-left a{
        font-size: 40px;
    }

    .contact-right input{
        height: 90px;

        font-size: 40px;
    }

    .contact-right textarea{
        height: 400px;

        font-size: 40px;
    }

    footer{
        height: 100px;

        font-size: 30px;
        padding: 30px;
    }
}