* {
    box-sizing: border-box;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: white;
    margin: 0;
    padding: 0;
}

body{
    background-color: #080808;
}

html{
    scroll-behavior: smooth;
}

/* Header */

#header{
    color: white;
    width: 100%;
    height: 100vh;

    background-image: url(Images/Background.jpg); /* add a good background image later */
    background-position: center;
    background-size: cover;
}

.container{
    padding: 20px 10%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title{
    font-size: 35px;
}

#title a{
    text-decoration: none;
}

nav ul{
    list-style: none;
}

nav li{
    display: inline-block;
    position: relative;

    margin-left: 50px;

    font-weight: 400;
    font-size: 20px;
}

nav li::after{
    content: "";
    background-color: #00ced1;

    position: absolute;
    width: 0;
    height: 2px;

    bottom: -4px;
    left: 0;

    transition: .2s;
}

nav li:hover:after{
    width: 100%;
}

nav li a{
    text-decoration: none;
}

.eyecatcher{
    display: inline-block;

    margin-top: 20%;
}

.skill-preview{
    font-size: 40px;
    font-weight: 370;
    margin: 0;
}

.introduction{
    margin: 0;
    font-size: 55px;
}

.introduction span#aka{
    font-size: 10px;
    font-weight: 200;

    position: relative;
    left: -10px;
    color: white;

    transition: .2s;
}

.introduction:hover span#aka{
    font-size: 20px;
}

.introduction span#name{
    color: #00ced1;

    transform: .5s;
}

/* About */

#about{
    margin-top: 70px;
}

#about .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#about .pfp{
    border-radius: 10px;
    background-color: rgb(20, 20, 20);

    width: 440px;
    height: 550px;

    background-image: url(images/ProfilePicture.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

#info{
    flex-basis: 66%;
}

#info h1{
    font-size: 60px;
    font-weight: 600;
    color: rgb(199, 199, 199);
}

#info p{
    font-size: 17px;
    color: rgb(199, 199, 199);
}

#info ul{
    list-style-type: none;

    margin-top: 40px;
}

#info li{
    font-size: 18px;
    font-weight: 500;
    
    color: rgb(199, 199, 199);
    
    display: inline-block;
    margin-right: 50px;

    position: relative;
}

#info li:hover{
    cursor: pointer;
}

#info li::after{
    content: "";
    
    background-color: #00ced1;
    width: 0%;
    height: 2px;

    position: absolute;
    bottom: -4px;
    left: 0;

    transition: .2s;
}

#info li.selected-section-choise::after{
    width: 100%;
}

#info div{
    margin-top: 25px;
}

#info div .mini-title{
    margin-bottom: 8px;
    color: #00ced1;
    font-weight: 500;

    text-transform: capitalize;
}

#info div .info{
    font-size: 18px;
}

#info section{
    display: none;
}

#info section.selected-section{
    display: initial;
}